<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50">
        <img src="assets/poll.svg" alt="" width="80%">
    </div>
    <div fxFlex="30">
        <h1>Online Polls and voting platform</h1>
        <hr>
        <p class="caption">
            An opinion poll, often simply referred to as a poll or a survey,
            is a human research survey of public opinion from a particular sample.
            Opinion polls are usually designed to represent the opinions of a population
            by conducting a series of questions and then extrapolating generalities in ratio or
            within confidence intervals.The person who conducts polls is referred to as Pollster.
        </p>
        <div class="text-center">
            <a mat-stroked-button color="primary" class="btn-create" href="/poll/create" target="_blank">Create New Poll Free</a>
        </div>
    </div>
</div>