<br>
<div fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="pollStatus == 0" fxFlex="60" class="text-center">
        <img src="assets/warning.svg" alt="" width="50%">
        <br>
        <h1>Oops! This poll doesn't exist.</h1>
        <a mat-raised-button href="/">Go Home</a>
    </div>
    <mat-card fxFlex="60" *ngIf="pollStatus == 1">
        <mat-card-header>
            <div mat-card-avatar *ngIf="isVoted">
                <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">check</mat-icon>
            </div>
            <mat-card-title>
                {{title}}
            </mat-card-title>
            <mat-card-subtitle *ngIf="isVoted">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip color="accent" selected>Voted</mat-chip>
                    <mat-chip color="primary" selected>{{votedTime | date:'MMM d, y, h:mm:ss a'}}</mat-chip>
                </mat-chip-list>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <mat-selection-list #answersList [multiple]="false">
                <mat-list-option *ngFor="let a of answers;index as i" [value]="i" [selected]="i == initIndex">
                    <div mat-list-icon>{{i+1}}</div>
                    <p mat-line> {{a.answer}}</p>
                    <mat-progress-bar mat-line mode="determinate" value="{{(a.vote/totalVotes)*100}}"></mat-progress-bar>
                    <p mat-line class="text-center">{{((a.vote/totalVotes)*100).toFixed(2)}}%</p>
                </mat-list-option>
            </mat-selection-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="submitVote()"
                [disabled]="!answersList.selectedOptions.isSelected || answersList.selectedOptions.selected[0]?.value == initIndex">
                {{isVoted ? 'Edit':'Submit'}}
            </button>
        </mat-card-actions>

    </mat-card>

</div>