/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.click {
  cursor: pointer;
}

.snack-bar-error {
  background-color: red;
  color: white;
}

.snack-bar-success {
  background-color: green;
  color: white;
}