<div fxLayout="column" fxFlexFill>

  <mat-toolbar color="primary" class="mat-elevation-z8">
    <img src="assets/logo.png" alt="" width="2%">
    <span style="margin-left:5px;"> Online Poll Maker</span>
    <span class="spacer"></span>

    <img src="{{userData.photoUrl}}" alt="Avatar" class="avatar click" [matMenuTriggerFor]="menu">
    <mat-menu #menu="matMenu">
      <small mat-menu-item>{{userData.name}}</small>
      <hr>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </mat-menu>
  </mat-toolbar>

  <div fxFlex>
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar color="primary">
    <mat-toolbar-row >
      <small style="margin: auto;" class="text-center">
        Copyright &#169; 2021 AlgoLab.Inc.All rights
        <br>
        reserved.
      </small>
    </mat-toolbar-row>
  </mat-toolbar>

</div>